Repository MikhailovAlexander/algorithms_22_1, pull requests merged in 2022-11, with the labels that each got.

#81 White team manual task 6
  white_team_manual.md
Labels: white team, task 6, manual

#86 Green Team Manual Solution. Task 6
  Green_team_manual_task_6.md
Labels: green team, task 6, manual

#88 yellow team manual task 6
  yellow_manual_task_6.md
Labels: yellow team, task 6, manual

#92 Dark blue team manual task 6
  dark_blue_solution.md
Labels: darkblue team, task 6, manual

#95 Blue team manual task 6
  blue_team_solution.md
Labels: blue team, task 6, manual

#96 Add files via upload
  purple_team_solution.md
Labels: purple team, task 6, manual

#99 pink_team_manual_task_6: completed solution
  pink_team_solution.md
Labels: pink team, task 6, manual

#98 Ручное решение от Black Team
  black_solution.md
Labels: question, black team, task 6, manual
