Repository MikhailovAlexander/algorithms_22_1, pull requests merged in 2022-10, with the labels that each got.

#50 Green Team Manual Task 5
  tasks.md
Labels: green team, task 5

#53 Dark blue team manual task 5
  tasks.md
Labels: darkblue team, task 5

#54 White team manual task 5
  tasks.md
Labels: white team, task 5

#57 red_manual_task_5
  tasks.md
Labels: red team

#58 Black team manual task 5
  tasks.md
Labels: black team, task 5

#59 Blue team manual task 5
  tasks.md
Labels: blue team, task 5

#61 purple_manual_task5
  tasks.md
Labels: purple team, task 5

#62 red_manual_task_5
  red_white_task5.md
Labels: red team, task 5

#64 Blue team manual task 5
  solution.md
Labels: blue team, task 5

#66 Dark blue team manual task 5
  answer.md
Labels: darkblue team, task 5

#68 Решение задачи от Purple Team
  black_purple_task_5.md
Labels: black team, task 5

#73 Green Team Manual Solution. Task 5
  green_team_solution.md
Labels: green team, task 5

#75 .
  Welcome file.md
Labels: white team, task 5

#74 purple_manual_task5
  solution
Labels: purple team, task 5

#77 pink_team_manual_task_5: completed solution
  pink_team_solution.md
Labels: pink team, task 5
