Repository MikhailovAlexander/algorithms_22_1, pull requests merged in 2022-12, with the labels that each got.

#112 Blue team manual task 10
  blue_team_solution.md
  images/blue_team.png
  tasks.md
Labels: blue team, manual

#113 red_manual_task_10
  images/red_team.png
  red_team_solution.md
  tasks.md
Labels: red team, manual, task 10

#114 pink_team_manual_task_10: pink team solution
  images/pink_team.png
  pink_team_solution.md
  tasks.md
Labels: pink team, manual, task 10

#116 Dark blue team manual task 10
  dark_blue_team_task_10.md
  images/dark_blue_team.png
Labels: darkblue team, manual, task 10

#117 Green Team Manual Solution
  green_team_solution.md
  images/green_team_solution.jfif
Labels: green team, manual, task 10

#115 Решение чужой задачи
  black_team_solution.md
  images/black_team.png
Labels: black team, manual, task 10
